$primary-color:#1E1C24;
$secondary-color:#B1AAAA;
$color-0634FF:#0634FF;
$color-FFFFFF:#ffffff;
$color-000000:#000000;
$color-EBEBEB:#EBEBEB;
$color-1E1C24D9:#1E1C24D9;
$color-0634FF57:#0634FF57;
$color-E6E6E6:#E6E6E6;
$rubik:'Rubik';
$popins:'Poppins';